body, section, main, h1 {
    margin:0;
    padding: 0;
}
body, html {
    height: 100%;
}
#main { /* Old versions of IE do not support <main> tag so I did it with div */
    width:700px;
    height: 350px;
    background: black;
    color:#F2C106;
    margin:0 auto;
    padding: 10px;
    border-radius: 5px;
}

#wrap {
    position: absolute;
    top:50%;
    margin-top: -175px;
    width:100%;
}
header{
    font-size: 25px;
}
h1 {
    text-align: center;
}
section {
    display: inline-block;
    vertical-align: top;
    margin-top:20px;
    margin-left:60px;
    font-size: 32px;
}

iframe {
    margin-top:25px;
    margin-left: 20px;

}

a {
    text-decoration: none;
    color:#FFFFFF;
}
